.battery-status {
    text-align: right;
    width: 15%;
    padding: 5px;
}

.status-bar {
    // background-color: #34352D;
    background-color: #000000;
    /* color: #B9C38E; */
    display: inline-block;
    margin: 1px;
}