.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.container {
  width: 70%;
  display: flex;
  flex-flow: column;
}

.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
